@media (max-width: 600px) {
  .ProductContainer {
    width: 200%;
  }
  .Product, .ProductBig {
    width: 90vw;
  }
  .focusContainer, .ProductFocus{
    grid-column: 1;
    position: absolute;
    width: 90vw;
  }
  .TopNav{
    visibility: hidden;
  }
}
.Product{
  border: 1pt solid black;
  margin: 2%;
  padding: 1%;
  border-radius: 5pt;
}

.ProductList{
  margin-top: 10%;
  height: 80vh;
  overflow-y: hidden;
  transition: 150ms;
}
.Product:hover{
  border: 2pt solid black;
}

.ProductContainer{
  width: 25%;
  height: 95vh;
  overflow-y: scroll;
  padding-top: 5vh;
}

.ProductContainer::-webkit-scrollbar {
  display: none;
}

.ProductFocus{
  border: 2pt solid black;
  border-radius: 5pt;
  background: white;
  margin: 2%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 50vw;
  transition: 150ms;

}
.focusContent{
  display:block;
  padding: 5%;
  width: 100%;
  overflow: fragments;
}
.TopNav{
  border: 1pt solid black;
  width: 20%;
  margin: 2%;
  padding: 1%;
  border-radius: 5pt;
  height: 80px;
  float: right;
  position: fixed;
  margin-left: 70%;
  z-index: 2;
}
input{
  border-radius: 5pt;
  margin: 5pt;
}

.TopNavForm{
  display: flex;
  flex-direction: column;
  float: left;
}

.searchField{
  position: fixed;
  width: 23%;
  height: 3%;
}

.navButton{
  width: 50px;
  height: 25px;
}
