@keyframes slideInFromLeft {
  0% {
    transform: scale(0.5);

  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideActuallyInFromLeft {
  0% {left: -40vw}

  100% { left: 0; }

}

@keyframes moveProduct {
  0% {width: 100%}

  100% {  width: 150px;}

}

@keyframes upAndGone {
  0%{

    height: 0;
  }
  50%{
    height: 100vh;
  }
  70%{

    height: 100vh;
  }
  100%{
    height: 100vh;
  }
}

@keyframes upAndGoner {
  0%{
    right: 0;
    visibility:visible;
    width: 100vw;
  }

  50%{
    right: 0;
    width: 180px;
  }
  75%{
    right: 0;
    width: 180px;
  }
  100%{
    visibility: hidden;
    right: 0;
    width: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);

  }
}

@keyframes slidez {
  0% {transform: translateX(-100%);
  }
  100% {transform: translateX(100%);
  }
}

@font-face {
  font-family: "NightWatch";
  src: url("TheNightWatch.ttf");

}

@font-face {
  font-family: "Krylon";
  src: url("Krylon-Regular.otf");

}

@font-face {
  font-family: "Recia";
  src: url("ReciaSerifDisplay-Bold.ttf");

}


@media (min-width: 1201px) {
  .navInput{
    height: 14px;
    width: 453px;
    display: inline-block;
  }
  #helpButton{
    visibility: hidden;
  }
  .buttonRow{
    flex-direction:row;
  }
  .logo {
    left: 70%;
    top: 40px;
    position: absolute;
    font-size: 175%;
  }
  .maintext {
    left: 69%;
    top: 0;
    font-size: 60px;
  }

  .navButton{
    width: 65px;
    height: 30px;
    background: white;
    color: black;
    border: 1pt solid black;
    margin-top: 5px;
  }

  .FocusWindow{
    top: 25%;
    z-index: 3;
    height: 65vh;
    max-height: 650px;
    width: 40vw;
    left: 7px;
    max-width: 800px;
  }

  .ProductFocus{
    top: 0;
    left: clamp(315px, calc(30% + 15px), calc(30% + 15px));
    height: calc(100vh - 180px - 9px);
    width: calc(70% - 24px);

  }

  .ProductContainer{
    width: 30%;
    min-width: 300px;
  }
  .TopNav{
    left: clamp(400px, calc(35%), calc(35%));
   top: 2px;
    float: right;
    position: fixed;
    z-index: 4;
    padding-left: 5pt;
  }

  .mobileNav {
    visibility: hidden;
  }
  .sideBox {
    margin-top: 131px;
  }

  .ProductContainerOO {
    width: 70%;
  }
}
.sideBox {
  margin-left: 70%;
}

@media (max-width: 1200px) {
  #helpButton{
    visibility: hidden;
  }
  .navInput{
    margin-left: 10%;
  }
  .ProductContainerOO {
    width: 70%;
  }
  .sideBox {
    margin-top: 178px;
  }
  .navButton{
    width: 50vw;
    height: 30px;
    background: white;
    color: black;
    border: 1pt solid black;
    margin-left: 10%;
  }

  .ProductContainer{
    width: 30%;
    min-width: 300px;
  }


  .TopNavWrapper{
    visibility: hidden;
  }
  .mobileNav{
    visibility: visible;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 3;
  }

  .TopNav{
    margin-left: 2%;
    margin-top: 1%;
    padding: 1%;
    float: right;
    position: fixed;
    z-index: 2;
    justify-content: space-between;

  }
  .FocusWindow{
    left: 7px;
    top: 178px;
    z-index: 3;
    height: 65vh;
    max-height: 650px;
    width: 80vw;
    max-width: 800px;
    background: black;
  }

  .buttonRow{
    flex-direction: column;
  }


  .ProductFocus{
    max-width: 830px;
    top: 0;
    left: 0;
    margin-left: 0;
    position: fixed;
    height: calc(100vh - 180px - 9px);
    width: 100%;
  }
  .ProductContainer{
    width: 30%;
    min-width: 300px;
  }
}

@media (max-width: 827px) {
  .ProductFocus{
    left: 0;
    margin-left: 0;
    top: 0;
    position: fixed;
    height: calc(100vh - 180px - 9px);
    width: calc(100vw - 9px);
  }
  .sideBox {
    margin-left: 322px;
  }

  .mobileNav{
    visibility: visible;
    top: 5px;
    left: 0;
    z-index: 3;
  }
}

@media (max-width: 600px) {

  .sideBox {
    margin-left: 322px;
  }


  .mobileNav{
    visibility: visible;
    position: fixed;
    top: 5px;
    left: 0;
    z-index: 3;
  }

}

@media (max-width: 500px) {
  .ProductContainer{
    width: calc(100vw - 23px);
  }
  .sideBox{
    display: none;
  }

  #helpButton{
    visibility:visible;
    margin-top: 145px;
    float: left;
  }

}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}


.logo {
  left: 30px;
  position: absolute;
  font-size: 30px;
  top: 60px;
}

.maintext {
  left: 15px;
  font-size: 55px;
  top: 20px;
}

#root{
  cursor: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image:
          url("./images/bg9.png"),
          url("./images/bg7.jpg"),
          url("./images/bg5.jpg"),
          url("./images/bg8.png"),
url('./images/HalfttoneGradients.png');
  background-position:
          30% -50%,
          15% -5%,
          58% 177%,
          70% 70%,
          60% 5%,
          34% -75%,
          75% -15%;
  background-blend-mode:saturation;
  background-repeat:repeat;
}

#mouse-circle {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
  mix-blend-mode: difference;
}

.loadingScreen{
  background-color: white;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.loadingMover{
  background-color: black;
  z-index:6;
  height: 0;
  width: 100vw;
  overflow: hidden;
  animation: upAndGone 2s alternate;
}


.loadingMoverBackDown{
  visibility: hidden;
  background-color: black;
  z-index: 6;
  position: absolute;
  width: 0;
  height: 100vh;
  top: 0;
  overflow: hidden;
  animation: upAndGoner 3s running;
}


.loadingBox{
  position: absolute;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  border: 1pt black solid;
  font-size: 2em;
  text-align: center;
  margin-left: 10px;
  bottom: 10px;
}

.loadingText{
  z-index: 7;
  transform-origin:center;
  animation-iteration-count: infinite;
}
.centerCircle{
  height: 250px;
  width: 250px;
  position: absolute;
  animation: rotate 10s linear;
  border: 1pt solid black;
  left: 21vh;
  border-radius: 50%;
  animation-iteration-count: infinite;
}
.superCircle{
  height: 1000px;
  width: 1000px;
  margin-top: 5vh;
  left: 20vh;
  position: absolute;
  animation: rotate 20s linear;
  border: 1pt solid black;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

.loadingText span{
  font-family: Recia, Helvetica, sans-serif;
  height: 50px;
  position: absolute;
  width: 50px;
  bottom: 0;
  transform-origin: bottom center;
}

.movePosition{
  color: white;
  position: absolute;
}
.welcomeTing{
  color: white;
  width: 100px;
  left: 25px;
  position: absolute;
  font-size: 10em;
  transform: rotate(90deg);
  font-family: Recia, Helvetica, sans-serif;
}

.bold{
  font-weight: bold;
  border-bottom: 1pt black solid;
  font-family: Krylon, Times, serif;
}
.maintext {
  position: absolute;
  color: black;
  background-color: greenyellow;
  width: 120px;
  z-index: 5;
  font-family: Krylon, Times, serif;
  font-weight: bold;
}
.logo{

  position: absolute;
  color: black;
  background-color:white;
  mix-blend-mode:difference;
  font-weight: bold;
  z-index: 6;
  font-family: Krylon, Times, serif;

}
.Middle{
  mix-blend-mode: difference;
  color: white;
}

.first{
  transform: rotate(51deg);
}
.second{
   transform: rotate(102deg);
 }
.third{
     transform: rotate(153deg);
   }
.fourth{
    transform: rotate(204deg);
  }
.fifth{
    transform: rotate(255deg);
  }
.sixth{
  transform: rotate(306deg);
  }
.seventh{
    transform: rotate(357deg);
  }
.XButton {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 10;
}
.XButton:hover {
  opacity: 0.5;
}

.chosey{
  padding-top: 5pt;
  padding-left: 5pt;
}
.XButton:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}
.XButton:before {
  transform: rotate(45deg);
}

.header{
  font-size: 20px;
  letter-spacing: -1px;
  word-spacing: 5px;
  color: #000000;

}

.partingline{
  left: 8px;
  background-color: white;
  border: 1pt black solid;
  width: 100vw;
  height: 150px;
  z-index: 0;
  top: 0;
  position: fixed;
}

.breakingNewsCont{
  left: 7px;
  height: 25px;
  background: white;
  width: 100vw;
  position: absolute;
  border-bottom: 1pt black solid;
  border-left: 1pt black solid;
  border-right: 1pt black solid;
  overflow-y: hidden;
  top: 153px;
}

.breakingNews{
  color: black;
  display: flex;
  flex-direction: row;
  height: 25px;
  white-space: nowrap;
  animation: slidez 40s linear;
  animation-iteration-count: infinite;
}


.sideBox{

  height: calc(100vh - 229px);
  border: 1pt black solid;
  padding: 20px;
  background-color: white;
  overflow-x: scroll;
  word-wrap: break-word;
  text-align: right;
  margin-bottom: 5px;

}
.tableTing{
  border-top: 1pt black solid;
}
.tableTingHeader{
  border-top: 1pt black solid;
  font-style:italic  ;
}
.Product{
  display: flex;
  flex-direction: row;
  transition: 250ms;
  box-shadow: 5px 5px 80px -50px #000000;
  justify-content: space-between;
  border-bottom: 1pt solid black;
}

.Product:hover{
  border-left: 1pt solid black;
  padding-left:5%;
  transition: 150ms;
}

.Focused{
  Background-color: white;
  display: flex;
  flex-direction: row;
  border-left: 1pt solid black;
  border-bottom: 1pt solid black;
  padding-left:5%;
  justify-content: space-between;
}


.frame{
  position: absolute;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  z-index: 0;
  border: 6pt solid white;
  pointer-events: none
}

.frame2{
  margin-left: 7px;
  margin-bottom: 8px;
  border: 1pt solid black;
}

.subItem{
  border: 1pt solid black;

  margin: 2%;
  padding: 1%;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 40px;
  margin-top: 20px;
  z-index: 1;
}
.arrow:hover{
  border: solid gray;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 1;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.hamNavButtonClosed:hover{
  background: black;
}
.ProductContainer{
  padding-top: 70px;
  background: white;
  border: black solid 1pt;
  height: calc(100vh - 250px - 9px);
  overflow-x: scroll;
  margin-bottom: 40pt;
  padding-left: 5pt;
  padding-right: 5pt;
}


.ProductContainerOO{
  position: absolute;
  left: 5.5pt;
  width: 70%;
  top: 178px;
  height: calc(100vh - 250px - 9px);
  z-index: 2;
  bottom: 20pt;
  margin-right: 5pt;
}

.ProductContainer::-webkit-scrollbar {
  display: none;
}

.ProductFocus{
  border: 1pt solid black;
  background: white;
  z-index: 2;
  position: absolute;
  overflow-x: scroll;

}
.commentBox{
  height: 25vh;
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2%;
}
.tablo{
  height: 10vh;
  width: 80%;
}
::-webkit-scrollbar {
  height: 90%;
  margin: 10%;
  width: 5px;
  display: block;
}

::-webkit-scrollbar-track {
  background:transparent;
}

::-webkit-scrollbar-thumb {

  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rowDiv{
  display: flex;
  flex-direction: row;

}
.buttonRow{
  display: flex;
}
.inputs{
  display: flex;
  flex-direction: column;
}

.inputsUser{
  display: flex;
  flex-direction: column;
}


select{
  height: 25px;
}

.FocusWindow{
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  border-right: 1pt solid black;

  background: white;
  position: absolute;
  overflow-x: scroll;
  text-align: center;
  align-content: center;
  justify-content: center;
}


.focusContent{
  display:inline-block;
  text-align:left;
  align-content: center;
  width: 90%;
  padding: 2%;
  margin-left: 3%;

}
.productImage{
  width: 250px;
  height: 250px;
  max-height: 250px;

  padding: 5px;
  border: 1px solid black;


}


::placeholder {
  color: black;
  font-size: 1.2em;
  font-family: Krylon, Times, serif;
}

input{
  margin-right: 5pt;
  margin-top: 5pt;
  background: white;
  border:   1pt solid black;
  outline: hidden;

  height: 25px;
}


.TopNavForm{
  display: flex;
  flex-direction: column;

}

.searchField{
  position: fixed;
  width: clamp(300px, 21%, 21%);
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  margin-bottom: 20px;
}

.Product-name{
  font-size: 150%;
  font-family: Krylon, Times, serif;
  font-weight: bold;
}

.price{

}

.navButton:hover{
  color: white;
  background: black;
}

button{
  color: black;
  background: white;
  height: 30px;
  margin-top: 1%;
  margin-right: 5px;
  font-family: Krylon, Times, serif;
  font-size: 1em;
  cursor: none;
  min-width: 150px;
  border: 1pt solid black;
}

button:hover{
  color: white;
  background: black;
}

.hoverState:hover{
  color: white;
  background-color: black;
}
#ActivityChart{
  background-color: white;
  border: 1pt solid black;
  padding: 10px;
}

.wholeChart{
  overflow-y: scroll;
}
